<!-- app/views/products/index.html.erb -->
<div class="products">
  <!-- Add a Sign In button/link -->
  <%= link_to 'Sign In', new_customer_session_path, class: 'button is-primary' %>

  <% @products.each do |product| %>
    <div class="product">
      <h3><%= product.name %></h3>
      <% if product.images.attached? %>
        <% product.images.each do |image| %>
          <%= image_tag(image, size: "100x100") %> <!-- Adjust size as needed -->
        <% end %>
      <% end %>
      <p><%= number_to_currency(product.price) %></p>
      <!-- Any other product details you want to display -->
    </div>
  <% end %>
</div>
